.navbar {
  background-color: white;
  padding: 16px 0;
}
.side-menu {
  display: none;
}
.menu {
  margin-right: 25px;
  //padding-top: 1%;
}

.ant-drawer-body {
  padding: 0 !important;
}
@media (max-width: 1032px) {
  .menu {
    display: none;
  }
  .side-menu {
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
  }
  .download-link {
    left: 3% !important;
  }
}
.logo {
  height: 32px;
  margin-left: 1rem;
}
.download-link {
  position: absolute;
  left: 1%;
  bottom: 0;
}
